<launch>
  <arg name="use_map_topic"   default="false"/>
  <arg name="scan_topic"      default="scan"/>
  <!-- 初始化位姿均值（x，y，yaw）用于初始化高斯分布滤波器 -->
  <arg name="initial_pose_x"  default="0"/>
  <arg name="initial_pose_y"  default="0"/>
  <arg name="initial_pose_a"  default="0"/>

  <arg name="odom_frame_id"   default="odom"/>
  <arg name="base_frame_id"   default="base_footprint"/>
  <arg name="global_frame_id" default="map"/>

  <!-- 打开amcl节点 -->
  <node pkg="amcl" type="amcl" name="amcl">
    <param name="use_map_topic"             value="$(arg use_map_topic)"/>
    <!-- Publish scans from best pose at a max of 10 Hz -->
    <!-- 选择模型为全向 -->
    <param name="odom_model_type"           value="omni"/>
    <!-- 平移相关的噪声 -->
    <param name="odom_alpha5"               value="0.1"/>
    <!-- 扫描和路径发布到可视化软件的最大频率，设置参数-1.0为失能此功能。 -->
    <param name="gui_publish_rate"          value="10.0"/>
    <!-- 更新滤波器时，每次扫描中多少间距的光束被使用 -->
    <param name="laser_max_beams"             value="60"/>
    <!-- 被考虑的最大扫描范围，参数设置为-1.0时将会使用激光上报的最大扫描范围 -->
    <param name="laser_max_range"           value="12.0"/>
    <!-- 允许粒子数量的最小值 -->
    <param name="min_particles"             value="500"/>
    <!-- 允许粒子数量的最大值 -->
    <param name="max_particles"             value="2000"/>
    <!-- 真实分布和估计分布之间的最大误差，默认为0.01 -->
    <param name="kld_err"                   value="0.05"/>
    <!-- 上标准分位数（1-p），其中p是估计分布上误差小于kld_err的概率，默认0.99 -->
    <param name="kld_z"                     value="0.99"/>
    <!-- 指定由机器人运动部分旋转分量估计的里程计旋转的期望噪声，默认0.2 -->
    <param name="odom_alpha1"               value="0.2"/>
    <!-- 指定由机器人运动部分的平移分量估计的里程计旋转的期望噪声，默认0.2 -->
    <param name="odom_alpha2"               value="0.2"/>
    <!-- 指定由机器人运动部分的平移分量估计的里程计旋转的期望噪声，默认0.2 -->
    <param name="odom_alpha3"               value="0.2"/>
    <!-- 指定由机器人运动部分的旋转分量估计的里程计平移的期望噪声，默认0.2 -->
    <param name="odom_alpha4"               value="0.2"/>
    <param name="odom_alpha5"               value="0.2"/>
    <!-- 模型的z_hit部分的最大权值，默认为0.95 -->
    <param name="laser_z_hit"               value="0.5"/>
    <!-- 模型的z_short部分的最大权值，默认为0.95 -->
    <param name="laser_z_short"             value="0.05"/>
    <!-- 模型的z_max部分的最大权值，默认为0.05 -->
    <param name="laser_z_max"               value="0.05"/>
    <!-- 模型的z_rand部分的最大权值，默认为0.5 -->
    <param name="laser_z_rand"              value="0.5"/>
    <!-- 模型的z_hit部分的最大权值，默认为0.2 -->
    <param name="laser_sigma_hit"           value="0.2"/>
    <!-- 模型z_short部分的指数衰减参数，默认为0.1 -->
    <param name="laser_lambda_short"        value="0.1"/>
    <!-- 模型使用，默认为“likehood_field” -->
    <param name="laser_model_type"          value="likelihood_field"/>
    <!-- <param name="laser_model_type" value="beam"/> -->
    <!-- 地图上做障碍物膨胀的最大距离，用作likelihood_field模型 -->
    <param name="laser_likelihood_max_dist" value="2.0"/>
    <!-- 在执行滤波器更新前平移运动的距离，默认0.2m -->
    <param name="update_min_d"              value="0.25"/>
    <!-- 在执行滤波更新前旋转的角度，默认为pi/6 -->
    <param name="update_min_a"              value="0.2"/>
    <!-- 里程计默认使用的坐标系 -->
    <param name="odom_frame_id"             value="$(arg odom_frame_id)"/> 
    <param name="base_frame_id"             value="$(arg base_frame_id)"/> 
    <param name="global_frame_id"           value="$(arg global_frame_id)"/>
    <!-- 在重采样前需要滤波器更新的次数，默认2 -->
    <param name="resample_interval"         value="1"/>
    <!-- Increase tolerance because the computer can get quite busy -->
    <!-- tf变换发布推迟的时间 -->
    <param name="transform_to使ance"       value="1.0"/>
    <!-- 慢速的平均权重滤波指数衰减频率，用作决定什么时候通过增加随机位姿来recover，默认为0 -->
    <param name="recovery_alpha_slow"       value="0.0"/>
    <param name="recovery_alpha_fast"       value="0.0"/>
    <param name="initial_pose_x"            value="$(arg initial_pose_x)"/>
    <param name="initial_pose_y"            value="$(arg initial_pose_y)"/>
    <param name="initial_pose_a"            value="$(arg initial_pose_a)"/>
    <remap from="scan"                      to="$(arg scan_topic)"/>
  </node>
</launch>
